.main-color {
    background: linear-gradient(215deg, #546e7a, #37474f);
}

.secondary-color {}

.text-main-color {}

.text-second-color {
    color: #fff;
}

.btn-color-hover {}


.login-page-color {
    background-image: radial-gradient(closest-side at 50% 135%, #ffffff 50%, #eceff1 100%);
}

.link-color {
    color: #24769c;
}

.easy {
    color: rgb(0, 175, 155);
}

.medium {
    color: rgb(255, 184, 0);
}


.hard {
    color: rgb(239, 71, 67);
}