.main-page {
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: rgb(235, 240, 241);
}

.login-buton {
    height: 40px;
}

.input {
    height: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}


.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}
