.page-top {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  align-items: center;
}

.page-nav {
  margin-left: auto;
  display: flex;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  gap: 20px;
  flex-wrap: wrap;
}

.page-title button {
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: rgba(55, 71, 79, 0.87);
}

.page-content{
    background-color: #fff;
    width: 100%;
    height: 'fit-content';
    max-width: 1120px;
    border-radius: 8px;
    padding: 30px 25px 50px 25px;
    margin-top: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14),
    0px 1px 5px rgba(0, 0, 0, 0.12);
}


.main-page {
  max-width: 1200px;
  margin: 0 auto;
}

::v-deep(.main-page.full){
  max-width: none;
}

.navigation {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.navigation-btn-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: rgba(55, 71, 79, 0.87);
  margin: 20px 10px;
}

.card > ::v-deep(.ant-row) {
  margin-bottom: 20px;
}

.answer > ::v-deep(.ant-row) {
  margin-bottom: 15px;
}
.keyword-section ::v-deep(.ant-row) {
  margin-bottom: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
}

.section-header {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44.8px;
  letter-spacing: 0.25px;
  color: #007F99;
  margin-bottom: 20px;
  margin-left: -10px;
}

.title-wrap {
  margin-top: 5px;
}

.title {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #2B2B2B;
}


.input-option {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-option > ::v-deep(.ant-select-selector) {
  border-radius: 5px;
}

.input-option > ::v-deep(.ant-input) {
  border-radius: 5px;
}

.input-option > ::v-deep(.ant-picker) {
  border-radius: 5px;
}

hr.section-break{
  opacity: 0.25;
  margin-bottom: 20px;
  margin-top: 25px;
}

.input-full-width{
  width: 100%;
}

.input-full-width>div{
  width: 100%;
}

::v-deep(.ant-picker){
  border-radius: 5px;
}

::v-deep(.ant-input){
  border-radius: 5px !important;
}

::v-deep(.ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

::v-deep(.ant-input-group-addon button){
  border-radius: 5px !important;
}

::v-deep(.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

::v-deep(.input-control-full-width){
  width: 100%;
}

::v-deep(.hint) {
  color: #ef6c00;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
}

::v-deep(.side-menu) {
  background-color: #fff;
  border-radius: 8px;
  max-width: 350px;
  min-width: 200px;
  margin-bottom: 40px;
  padding: 20px 30px !important;
  margin-right: 10px;
  min-height: 500px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14),
    0px 1px 5px rgba(0, 0, 0, 0.12);
}

::v-deep(.just-between){
  justify-content: space-between !important;
}

::v-deep(.title-menu) {
  font-weight: 700;
  line-height: 40px;
  font-size: 24px;
  color: #37474f;
}

::v-deep(.table-content){
  min-height: 200px;
}

::v-deep(.faq-content){
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

.related-keyword {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.keyword-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.keyword-list ::v-deep(.ant-btn) {
  background-color: #ffffff;
  text-transform: none;
}

::v-deep(.ant-tree-list-holder-inner){
  padding-left: 0px !important;
}

::v-deep(.table-content .ant-list-item-meta-content){
  padding-top: 0px !important;
}

::v-deep(.table-content .ant-list-item-meta){
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;

}

::v-deep(.ant-tree-node-content-wrapper-normal){
  padding-left: 20px !important;
}

::v-deep(.ant-list-split .ant-list-item){
  border-bottom: 0 !important;
  margin-bottom: 32px;
}

::v-deep(.ant-input-lg){
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  flex: auto;
  transition: all 0.3s;
}

div:not(.ant-select-disabled) > :deep(.ant-select-arrow) {
  color: #333333;
}
